# Working with panda data frames

If Pandas have not yet been installed, uncomment the line below:

In [1]:
#!pip install pandas

In [2]:
import pandas as pd

## Create dataframe and populate from lists

In [3]:
colour = ['blue','pink','green','red','purple']
number = [12,32,52,72,92]
object = ['Calculator','Play Station','Guitar','Toy Car','Belt']

In [4]:
df = pd.DataFrame()

df["Colour"] = colour
df["Number"] = number
df["Object"] = object

df

   Colour  Number        Object
0    blue      12    Calculator
1    pink      32  Play Station
2   green      52        Guitar
3     red      72       Toy Car
4  purple      92          Belt

## Import data from different sources

In [5]:
df_csv = pd.read_csv(r'Files\Text\People List.csv')
df_excel = pd.read_excel(r'Files\Text\People List.xlsx')
df_json = pd.read_json(r'Files\Text\People List.json')

In [6]:
df_csv

      Names           Likes             Dislikes Eye Colour  Hair Colour
0   Channel  Coffee, series      Disorganisation       Blue   Dark brown
1     Grant       Dad jokes  Being messed around       Blue  Light brown
2  Tirendra             Avo             Laziness      Brown        Black

In [7]:
df_excel

,Names,Likes,Dislikes,Eye Colour,Hair Colour
0,Alison,"Unicorns, popcorn, food, high heels",Kyle,Brown,Blonde
1,Jireh,"Motorbikes, cats",Ant,Blue,Light brown
2,Jacqui,Ice cream,Avo,Hazel,Light brown

In [8]:
df_json

  Dislikes Eye Colour Hair Colour    Likes   Names
0   Coding      Brown       Black  Cricket  Zander
1      Ant      Brown      Blonde     Kids     Gen

### Concatenate data frames

In [9]:
new_df = pd.concat([df_csv,df_excel,df_json])

In [10]:
new_df

,Dislikes,Eye Colour,Hair Colour,Likes,Names
0,Disorganisation,Blue,Dark brown,"Coffee, series",Channel
1,Being messed around,Blue,Light brown,Dad jokes,Grant
2,Laziness,Brown,Black,Avo,Tirendra
0,Kyle,Brown,Blonde,"Unicorns, popcorn, food, high heels",Alison
1,Ant,Blue,Light brown,"Motorbikes, cats",Jireh
2,Avo,Hazel,Light brown,Ice cream,Jacqui
0,Coding,Brown,Black,Cricket,Zander
1,Ant,Brown,Blonde,Kids,Gen

### Cool querying functions

In [11]:
new_df[new_df['Dislikes'] == 'Ant']

  Dislikes Eye Colour  Hair Colour             Likes  Names
1      Ant       Blue  Light brown  Motorbikes, cats  Jireh
1      Ant      Brown       Blonde              Kids    Gen

In [12]:
num_of_peeps = len(new_df[new_df['Dislikes'] == 'Ant'])

print("{} people don't like Ant".format(num_of_peeps))

2 people don't like Ant

In [13]:
new_df['Hair Colour'].unique()

array(['Dark brown', 'Light brown', 'Black', 'Blonde'], dtype=object)

### Write to csv

In [14]:
new_df.to_csv(r'Files\Text\New People List.csv')